/* PetSearchPage.css */
.pet-search-page-container {
    padding: 20px;
    background-color: #f9f9f9; /* 밝은 배경 색상 */
    border-radius: 10px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .header-title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #333; /* 어두운 글씨 색 */
  }
  
  .button-group {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
  }
  
  .facility-list-container {
    padding: 20px;
    background-color: #ffffff; /* 흰색 배경 */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
  }
  
  .region-title {
    font-size: 20px;
    font-weight: bold;
    color: #007bff; /* 파란색 강조 */
  }
  